.container{
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

.header{
  font-size: 4.4rem;
}

.search-form{
  display:"flex";
}

.MovieCard{
  max-width:1000px;
  box-shadow: 1px 1px 5px gray;
  border: 1px gray;
}

.movie-image{
  height:250px;
  width: 185px;
  background-color: red;
  margin-bottom: 2rem;
  margin:0 auto;

}

.movie-title{
  font-size:3rem;
  margin-bottom: 1rem;
}

.movie-subtext{
  margin-bottom: 1rem;
}